{% extends admin_base_tmpl %}
{% load i18n %}

{% block page_content %}

    <p>
        {% trans 'User' %}: <a href="mailto:{{ user.email }}">{{ user.email }}</a> {{ user.first_name }} {{ user.last_name }}
    </p>

    {% if reset_link %}
        <p>{% trans 'The user can now reset the password with this link' %}</p>

        <p><code style="font-size: 1.3rem" class="reset-link">{{ reset_link }}</code></p>

        <p>
            <a href="{{ reset_link_mailto }}"><button type="submit">{% trans 'Send email' %}</button></a>
        </p>

    {% else %}
        <form method="post">
            {% csrf_token %}
            <button type="submit">{% trans 'Create Link' %}</button>
        </form>
    {% endif %}

{% endblock %}