{% extends admin_base_tmpl %}
{% load i18n %}

{% block page_content %}

    {% if message %}
        <p class="message">{{ message }}</p>

        {% if show_login_link %}
            <p>
                <a href="{% url 'admin:login' %}"><button type="submit">{% trans 'Go to login' %}</button></a>
            </p>
        {% endif %}

    {% else %}

        <p>{% trans 'Please enter the details to set your new password:' %}</p>

        <form method="post" class="password-form">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="{% trans 'Submit' %}">
        </form>

    {% endif %}

{% endblock %}