{% extends admin_base_tmpl %}
{% load i18n l10n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'geo/ol-v10.9.0.css' %}" />
    <script type="text/javascript" src="{% static 'geo/ol-v10.9.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'geo/OLMapWidget.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'gis/ol3.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'individuals/garden_map.css' %}" />
    <script type="text/javascript" src="{% static 'individuals/garden_map.js' %}"></script>
    <style>
        .flex-row {
            display: flex;
            padding: -.5rem -.5rem -.5rem 0;
        }
        .flex-row > div {
            margin: .5rem .5rem .5rem 0;
        }
    </style>
{% endblock %}

{% block page_content %}

    <div class="object-tools" style="float: right;">
        <li><a href="#" id="save-button">{% trans 'Save' %}</a></li>
    </div>

    <div id="controls">
        <div class="flex-row">
            <div>
                <div>{% trans 'territory' %}</div>
                <select id="current_territory">
                    {% for ter in territories %}
                        <option
                            value="{{ ter.pk }}"
                            data-code="{{ ter.code }}"
                            data-name="{{ ter.name }}"
                        >
                            {{ ter.code }} | {{ ter.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <div>{% trans 'department' %}</div>
                <select id="current_department">
                    {% for dep in departments %}
                        <option
                            value="{{ dep.pk }}"
                            data-pk="{{ dep.pk }}"
                            data-territory-pk="{{ dep.territory__pk }}"
                            data-code="{{ dep.code }}"
                            data-name="{{ dep.name }}"
                            data-polygon="{{ dep.polygon }}"
                        >
                            {{ dep.full_code }} | {{ dep.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <br/>

    <div id="div_map" class="dj_map_wrapper">
        <div id="map" class="dj_map"></div>
        <script>
            const map_widget = new BotGardMapWidget({
                base_layer: new ol.layer.Tile({source: new ol.source.OSM({url: "{{ map_tile_url }}"})}),
                geom_name: 'MultiPolygon',
                id: 'map',
                map_id: 'map',
                map_srid: {{ map_srid|unlocalize }},
                name: 'map',
                default_lat: {{ default_location.1|unlocalize }},
                default_lon: {{ default_location.0|unlocalize }},
                default_zoom: 16.7,
                garden_map: create_garden_map_interface(),
            });
        </script>
    </div>

{% endblock %}
