# basic django settings

DJANGO_SECRET_KEY=<secret-key>
DJANGO_DEBUG=False
DJANGO_TIME_ZONE='Europe/Berlin'


# URL settings for deployment

FULL_SERVER_HOST=https://your-botgard-host.com
DJANGO_ALLOWED_HOSTS=your-botgard-host.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://your-botgard-host.com


# postgres settings

POSTGRES_USER=postgres
POSTGRES_PASSWORD=<password>
POSTGRES_DATABASE=<database-name>
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
