{% load i18n l10n %}

<div id="{{ id }}_div_map" class="dj_map_wrapper">
    <div id="{{ id }}_map" class="dj_map"></div>
    {% if not disabled %}<span class="clear_features"><a href="">{% translate "Delete all Features" %}</a></span>{% endif %}
    {% if display_raw %}<p>{% translate "Debugging window (serialized value)" %}</p>{% endif %}
    <textarea id="{{ id }}" class="vSerializedField required" cols="150" rows="10" name="{{ name }}"
              {% if not display_raw %} hidden{% endif %}>{{ serialized }}</textarea>

    {% if with_garden_map %}
        <select id="current_territory" class="hidden" hidden="hidden">
            {% for ter in territories %}
                <option
                        value="{{ ter.pk }}"
                        data-pk="{{ ter.pk }}"
                        data-code="{{ ter.code }}"
                        data-name="{{ ter.name }}"
                        data-polygon="{{ ter.polygon }}"
                >
                    {{ ter.code }} | {{ ter.name }}{% if ter.polygon %} *{% endif %}
                </option>
            {% endfor %}
        </select>
        <select id="current_department" class="hidden" hidden="hidden">
            {% for dep in departments %}
                <option
                        value="{{ dep.pk }}"
                        data-pk="{{ dep.pk }}"
                        data-territory-pk="{{ dep.territory__pk }}"
                        data-code="{{ dep.code }}"
                        data-name="{{ dep.name }}"
                        data-polygon="{{ dep.polygon }}"
                >
                    {{ dep.full_code }} | {{ dep.name }}{% if dep.polygon %} *{% endif %}
                </option>
            {% endfor %}
        </select>
    {% endif %}

    <script>
        {% block base_layer %}
            var base_layer = new ol.layer.Tile({source: new ol.source.OSM({url: "{{ map_tile_url }}"})});
        {% endblock %}
        {% block options %}var options = {
            base_layer: base_layer,
            geom_name: '{{ geom_type }}',
            id: '{{ id }}',
            map_id: '{{ id }}_map',
            map_srid: {{ map_srid|unlocalize }},
            name: '{{ name }}',
            default_lat: {{ default_location.1|unlocalize }},
            default_lon: {{ default_location.0|unlocalize }},
            default_zoom: 16.7,
            {% if with_garden_map %}garden_map: create_garden_map_interface(false),{% endif %}
        };
        {% endblock %}
        var {{ module }} = new BotGardMapWidget(options);
        {% if with_garden_map %}
            {{ module }}.garden_map.set_model_layer("department");
        {% endif %}
    </script>
</div>
