
div.checkbox {
	width: 14px;
	height: 14px;
	border: 1px solid black;
}

div.checkbox_checked{
	background-color: black;
}

table.checklist-table td {
    white-space: nowrap;
}


@media print {

	@page { margin: 10% }

	body {
		/* https://www.w3.org/TR/css-print/ 8.5.1.6 */
		padding: 0.1in;
	}

	#header, footer, .breadcrumbs, #sidebar, .object-tools {
		display: none;
	}

	/* https://stackoverflow.com/questions/274149/repeat-table-headers-in-print-mode#274186 */
	thead { display: table-header-group; }
	tfoot { display: table-header-group; }
	/* https://stackoverflow.com/questions/1763639/how-to-deal-with-page-breaks-when-printing-a-large-html-table#1763683 */
	table { page-break-inside:auto }
	tr    { page-break-inside:avoid; page-break-after:auto }

    /* age-old mozilla bug https://bugzilla.mozilla.org/show_bug.cgi?id=258397 */
    #container {
        display: block;
    }
}